{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
    <title>Null wiki</title>
    <link rel="stylesheet" href="../data/css/style.css" type="text/css">
</head>
<body>
    <header>
        <h1>Null Wiki</h1>
        <hr/>
    </header>
{{ end }}

{{ define "footer" }}
<footer>
<p>All right reserved.</p>
</footer>
</body>
</html>
{{end}}


{{ define "page_list" }}
<nav id="page_list">
    <h1>Latest Updated Pages</h1>
    <ul>
        {{ range getLatestPage }}
        <a href="/view/{{ . }}"><li>{{ . }}</li></a>
        {{ end }}
    </ul>
</nav>
{{ end }}

{{ define "view_menu_list" }}
<nav class="horizon_list" id="view_menu_list">
    <ul>
        <li><a href="/">frontPage</a></li>
        <li><a href="/view/{{.}}">Reload</a></li>
        <li><a href="/edit/{{.}}">Edit</a></li>
        <li><a href="/chatroom/">ChatRoom</a></li>
    </ul>
</nav>
{{ end }}
