{{ define "footer" }}
</body>
</html>
{{end}}

{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
    <title>Null wiki</title>
    <link rel="stylesheet" href="../data/css/style.css" type="text/css">
</head>
<body>
{{ end }}

{{ define "page_list" }}
<div class="page_list">
    <h1>Latest Updated Pages</h1>
    <ul>
        {{ range getLatestPage }}
        <a href="/view/{{ . }}"><li>{{ . }}</li></a>
        {{ end }}
    </ul>
</div>
{{ end }}
