{{define "frontPage" }}
{{template "header" . }}
<h1>FrontPage</h1>

<p>[<a href="/edit/{{.Title}}">edit</a>]</p>

<div>{{printf "%s" .Body}}</div>

{{template "page_list" . }}
{{template "footer" . }}
{{end}}
