body {
    font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
    color: #000;
    width:960px;
    margin:20px auto;
    line-height:1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    font-weight:bolder;
}
a:link, a:visited {
    color:#c00;
    text-decoration:none;
}
a:hover {
    color:#0cc;
}
header, nav, section, footer {
    display:block;
    border:1px solid #ccc;
    margin:5px;
    padding:20px;
    color:#000;
    text-align:left;
}
header {
    text-align:center;
    padding:30px;
    background-color: #444;
    border: none;
    color:#fff;
    text-shadow: 0px 0px 4px #000000;
}
header ul, header li {
    list-style-type:none;
    display:inline;
}
nav {
    float:right;
    width:236px;
}
nav h1 {
    font-size: 1.4em;
}
section {
    float:right;
    width:620px;
}
footer {
    clear:both !important;
    text-align: center;
    background-color: #444;
    border: none;
    color:#fff;
    text-shadow: 0px 0px 4px #000000;
}
